/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --schemeSalmon: #FA7C92;
    --schemeRain: #6EC4DB;
    --schemeButtermilk: #FFF7C0;
    --schemeLeaf: #66AB8C;
}


a.salmonbutton{
    background-color:#FA7C92;
    white-space:normal;
    text-align:center;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 132px;
}

.dropdown-text {
    cursor: pointer;
    position: absolute;
    text-indent: 10px;
    line-height: 32px;
    width: 100%;
}

    .dropdown-text:after {
        position: absolute;
        right: 6px;
        top: 15px;
        content: '';
        width: 0px;
        height: 0px;
    }

.dropdown-text,
.dropdown-content a {
}

.dropdown-toggle {
    font-size: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: none;
    padding: 0;
    margin: 0 0 0 1px;
    background: transparent;
    text-indent: -10px;
    height: 34px;
    width: 100%;
}

    .dropdown-toggle:focus {
        outline: 0;
    }

.dropdown-content {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    list-style-type: none;
    position: absolute;
    top: 32px;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    text-indent: 10px;
    line-height: 32px;
    width: 140px;
}

    .dropdown-content a {
        display: block;
    }

        .dropdown-content a:hover {
            background: #e8e8e8;
        }


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
    background-color: #e8e8e8;
}

.dropdown-toggle:focus ~ .dropdown-text {
    box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
    z-index: 2;
}

    .dropdown-toggle:focus ~ .dropdown-text:after {
        border-width: 0 4px 5px 4px;
        border-color: transparent transparent #555 transparent;
    }

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
    opacity: 1;
    visibility: visible;
    top: 42px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

p.bgSalmon {
    background-color: #FA7C92;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .mobileonly{
      display:none;
  }

 
}

@media (max-width: 767px) {
    html {
        font-size: 16px;
    }

    .hidenav {
        display: none !important;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
